.palatino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/*
  The home page header is not displayed.
*/
header h1 {
  display: none;
}

/*
  Center recent posts text
*/
.blah {
  display: grid;
  align-items: center;
  align-content: center;
  grid-auto-flow: row;
  gap: 10px;
}

/*
  The home page featured images have a fixed 2:1 aspect ratio
*/
.img {
  width: 40vh;
  height: 20vh;
  object-fit: cover;
  object-position: center;
}

/*
  The "read more" button in the home page is not displayed.
*/
a.ba.br2 {
  display: none !important;
}

/*
  The title in the post page is not displayed.
  We depend on the header text instead.
*/
article header h1 {
  display: none;
}

/*
  The date in the post page is not displayed.
  We enter the date manually in header text description.
*/
article header time {
  display: none !important;
}

header .fw1 {
  font-size: 1rem;
  color: #999;
}

/* The "POSTS" in the post page is not displayed. */
article header aside {
  display: none;
}

/*
  The featured image is centered
*/
.bg-top {
  background-position: center center;
}


/*
  Style the figure captions
*/
figcaption {
  font-style: italic;
  margin-top: -1em;
  color: #666;
  text-align: center;
}